.forecastContainerDaily,
.forecastContainerHourly {
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: var(--rd-spc-m);
}

.forecastContainerHourly li,
.forecastContainerDaily li {
  display: inline-block;
  margin-right: var(--rd-spc-xxs);
  padding: var(--rd-spc-xxs);
  text-align: center;
}
.hourlyItem,
.dailyItem {
  composes: border-radius-s from global;
  width: 6.25rem;
  border: 1px solid var(--rd-color-black);
  background-color: #1f1f1f;
}

.dailyItem {
  width: 8.75rem;
}

.daySeparator {
  margin-left: var(--rd-spc-m);
}

.img {
  vertical-align: bottom;
  width: 4rem;
  height: 4rem;
}

.imgSmall,
.imgLeft {
  vertical-align: bottom;
  width: 3rem;
  height: 3rem;
}

.imgLeft {
  vertical-align: middle;
}

.flag {
  font-size: 2.5rem;
}

.conditions {
  composes: flex-h from global;
  justify-content: space-between;
  margin-bottom: var(--rd-spc-m);
}

.primaryConditions {
  font-size: 48px;
}

.secondaryConditions {
  font-size: 30px;
  margin: 5px 0 10px 0;
}

.weatherHeader {
  --color: rgba(255, 255, 255, 0.75);
  color: var(--color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 1px 16px rgba(0, 0, 0.4);
}

.weatherShim {
  background-color: rgba(0, 0, 0, 0.6);
  padding: var(--rd-spc-m) var(--rd-spc-s);
  color: var(--color);
}
