.gridContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  padding-right: 5%;
  padding-left: 5%;
}

.gridItem {
  background-color: #1b1b1b;
  border: 4px outset white;
  font-size: 30px;
  text-align: center;
}
