.hvacTabTitle {
  text-transform: capitalize;
}

.main {
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-content: center;
}

.selfCenter {
  justify-self: center;
}

.thermostat {
  composes: selfCenter;
  opacity: 0;
  scale: 0.5;
}
