.card.card {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--rd-spc-xxs);
}

.content.content {
  padding-left: var(--rd-spc-xxs);
  padding-right: var(--rd-spc-xxs);
  white-space: nowrap;
}
