.card {
    display: flex!important;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--rd-spc-xxs)!important;
}

.content {
    padding-left: var(--rd-spc-xxs)!important;
    padding-right: var(--rd-spc-xxs)!important;
}
